@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #e6e6e6;
}
.tool {
    background-color: blue;
    padding: 20px;
  }  

.card-title {
    text-align: center;
}

.ccontainerr{
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin-left: 37%;
}
.ccontainerr form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.ccontainerr form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}
.ccontainerr form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.ccontainerr form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.ccontainerr form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.ccontainerr form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.ccontainerr form .input-box input:focus ~ .underline::after,
.ccontainerr form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.ccontainerr form .button{
  margin: 40px 0 20px 0;
}
.ccontainerr .input-box input[type="submit"]{
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ccontainerr .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.ccontainerr .option{
  font-size: 14px;
  text-align: center;
}
.ccontainerr .facebook a,
.ccontainerr .twitter a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.ccontainerr .facebook i,
.ccontainerr .twitter i{
  padding-right: 12px;
  font-size: 20px;
}
.ccontainerr .twitter a{
  background: linear-gradient(to right,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.ccontainerr .twitter a:hover{
  background: linear-gradient(to left,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.ccontainerr .facebook a{
  background: linear-gradient( to right,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
.ccontainerr .facebook a:hover{
  background: linear-gradient( to left,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
 

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

a {
    color: black;
}

a:active {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
    text-decoration: underline;
}


:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #51087E, #880ED4);
    --light-gray: rgba(255, 255, 255, 0.877);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #880ED4;
    color: #ffffff;
    text-align: left;
}

table {
    width: 100%;
  }
  
  th {
    height: 70px;
    

  }
  table, td, th {
    border: 1px solid black;
  }
  

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #880ED4;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #880ED4;
}

header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navstick{
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.5) !important;
}
header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 40px;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
    padding-top: 14vmin;
}

header .row .col-md-5 img {
    width: 90%;
}

.header {
    background: #ff512f;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}

/********** section 1 **************/

.section-1 {
    padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/*  Section 2  */

.cover {
    width: 100%;
    height: 55vmin;
    background: url("../assets/pexels-photo-452738.jpeg");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}


.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: rgb(255, 251, 0);
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    border: #51087E;
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}

.numbers .rect>p {
    font-family: var(--Patua);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: #880ED4;
    padding: 1.4em 2.5em;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: #880ED4;
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22em;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}

.btncustometheme30{
    background-color: #880ED4;
    color: white;
    width: 30%;
}


.toolsheader{
    width: 100%;
    height: 80vmin;   
    /* position: relative; */

}
svg {
    width: 100%;
    height: 80vmin;
    
  }
  svg path{
    fill: rgb(128, 2, 187);
  }
  .navzero{
    /* position: sticky; */
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    background-color:rgb(128, 2, 187); ;
  }
  .toolscont{
    /* position: relative; */
    display: block;
    width: 80%;
    height: 500px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 10%;
    position: relative;
    top: -60vmin;
  }
  .toolsbox a{
    margin-bottom:5px ;
    text-decoration: none;
    padding: 0;
  }

  .toolsbox{
    background-color: rgb(235, 235, 235);
    color: black;
    border-radius: 10px;
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid rgb(201, 201, 201);
    overflow-y: visible;
  }
  .bgcolorgray{
    background-color: rgba(255, 255, 255, 0.842);
  }
  .bgcolorgray:hover{
    background-color: rgba(179, 179, 179, 0.452);
  }
  .explaniationbox{
  
    color: black;
    padding: 5%;
  }
  .pushd{
    position: relative;
    top: -50vmin;
  }
  .bordergraylight{
    padding: 5px;
    border:  rgb(151, 151, 151) 1px solid;
  }
  .bggray2{
    background-color: rgb(218, 218, 218);
  }
  .contentbox{
    background-color: rgb(224, 224, 224);
    color: black;
    border: 1px solid rgb(226, 226, 226);
    margin: 0;
    padding: 0;
    font-weight: bolder;
  }
  .contentbox:hover{
        color: rgb(20, 20, 20);
        background-color: rgba(128, 128, 128, 0.082);
  }
  
  h1 {
    font-size: 24px;
    font-family: sans-serif;
    margin-bottom: 40px;
  }
  
  textarea {
    width: 500px;
    height: 200px;
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .output {
    background-color: lightgray;
    border-radius: 5px;
  }
  .pos-rt{
    position: absolute;
    bottom: 0;
    right: 10px;
    border-radius: 100%;
    color: rgb(175, 0, 0);
    background-color: rgba(135, 6, 240, 0.267);
  }

.load{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    background-color: #303030c2;
    text-align: center;
   
    font-size: 50px;
}


.upload-corpus-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type='file'] {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  
  button[type='submit'] {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #3e8e41;
  }
  
  .message {
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
  }
  

  .container-2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .col-md-6 {
    flex-basis: 50%;
  }
  
  .input-group {
    width: 100%;
  }
  
  .custom-file-input {
    cursor: pointer;
  }
  
  .custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .btn-primary-2 {
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  
  .table th {
    background-color: #f0f0f0;
    font-weight: 500;
  }
  
  .table td:last-child {
    white-space: nowrap;
  }
  
  .table td:last-child button {
    margin-right: 5px;
  }
  
  .fa-file-pdf,
  .fa-file-word,
  .fa-file-excel,
  .fa-file-powerpoint,
  .fa-file-alt {
    color: #007bff;
  }
  
  .fa-download,
  .fa-trash {
    color: #dc3545;
    cursor: pointer;
  }
  
  .fa-download:hover,
  .fa-trash:hover {
    color: #b50e1c;
  }

  .container-1 {
    width: 50%;
    margin: auto;
    padding: 50px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    border-radius: 0;
    border: 1px solid #ced4da;
  }
  
  button{
    margin-top: 20px;
  }
  
  
